.container {
    height: 100%;
    width: 100%;
    display: flex;
}

.groups {
    width: 25%;
    height: 100%;
}

.notes {
    flex: 1;
    height: 100%;
}

@media (max-width: 650px) {
    .notes {
        display: none;
    }

    .groups {
        width: 100%;
    }
}

@media (min-width: 650px) and (max-width: 850px) {
    .groups {
        width: 45%;
    }
}

@media (min-width: 850px) and (max-width: 1200px) {
    .groups {
        width: 35%;
    }
}