.container {
    height: 100%;
    width: 100%;
    display: flex;
}

.groups {
    width: 25%;
    height: 100%;
}

.notes {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.editor {
    height: 25%;
    width: -webkit-fill-available;
    position: fixed;
    bottom: 0;
}