.container {
    background: hsla(216, 57%, 91%, 1);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow-y: auto;
}

.main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.desc {
    color: hsla(0, 0%, 16%, 1);
    max-width: 600px;
    font-weight: 500;
    font-size: 1.25em;
    text-align: center;
}

.footer {
    color: hsla(0, 0%, 16%, 1);
    max-width: 550px;
    font-size: 1.25em;
    margin: 20px;
    display: flex;
    gap: 5px;
    align-items: center;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: hsla(0, 0%, 85%, 1);
    border-radius: 5.5px;
}

::-webkit-scrollbar-thumb {
    background-color: hsla(0, 0%, 100%, 1);
    border-radius: 4.5px;
}

@media (max-width: 900px) {
    .desc {
        width: 80%;
        max-width: 80%;
    }

    .footer {
        width: fit-content;
        max-width: 250px;
        font-size: 1em;
    }

    .hero {
        width: 80%;
    }
}