.newGrp {
    cursor: pointer;
    background-color: hsla(249, 100%, 27%, 1);
    color: white;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    font-size: 3em;
    font-weight: 500;
    border: 0;
}

.popup {
    height: 12em;
    width: 27em;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-weight: 500;
    font-size: 1.1em;
    border-radius: 6px;
}

.heading {
    font-size: 1.25em;
}

.popup > div {
    width: 80%;
    display: flex;
    gap: 10px;
    align-items: center;
}

.popup > div > :first-child {
    margin-right: 5px;
}

.grpName {
    flex: 1;
    padding: 5px 10px;
    font-weight: 500;
    font-size: 0.8em;
    border: 2px solid hsla(0, 0%, 80%, 1);
    border-radius: 20px;
}

.grpName::placeholder {
    color: hsla(0, 0%, 59%, 1);
}

.themeSelector {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    cursor: pointer;
}

.themeSelector:hover {
    border: 2px solid black;
}

.createGrpBtn {
    align-self: flex-end;
    margin-right: 20px;
    font-size: 0.9em;
    background: hsla(227, 100%, 27%, 1);
    color: white;
    width: 30%;
    border: 0;
    border-radius: 10px;
    padding: 5px 0;
    cursor: pointer;
}

.error {
    color: red;
    font-weight: 400;
    font-size: 0.7em;
}

@media (max-width: 650px) {
    .popup {
        height: 14em;
        width: 21em;
        font-size: 0.95em;
    }

    .themeSelector {
        height: 25px;
        width: 25px;
    }

    .popup > div {
        width: 90%;
        gap: 5px;
    }

    .createGrpBtn {
        align-self: center;
        width: 60%;
        margin-top: 10px;
        font-size: 1.1em;
    }
}