.container {
    background: hsla(216, 57%, 91%, 1);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.title {
    width: 100%;
    background-color: hsla(227, 100%, 27%, 1);
    padding: 10px;
    color: white;
    position: fixed;
}