.container {
    height: 100%;
    width: 100%;
}

@media (max-width: 650px) {
    .container {
        font-size: 0.85rem;
    }
}

@media (min-width: 650px) and (max-width: 900px) {
    .container {
        font-size: 0.9rem;
    }
}